


.inner {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 15px 100px;
}

.bolt {
  color: #4e4e4e;
  margin-left: auto;
}

.header__contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  margin-right: auto;
}

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.title .title__main__text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 250px;
}

.title .title__sub__text {
  color: #c0c0c0;
  font-size: 30px;
  padding-bottom: 250px;
}

.content {
  background-color: #74cfae;
  color: #fff;
  width: 100%;
}

.content__title__text {
  padding-bottom: 35px;
  padding-top: 50px;
  font-size: 24px;
}

.content__text {
  font-size: 20px;
}