
body {
  font-family: 'Lato';
}

.is__Raleway {
  font-family: 'Raleway';
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/**-----header-----**/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  padding-top: 70px;
}

.inner {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 15px 0;
  width: 100%;
}

.bolt {
  color: #4e4e4e;
  font-size: 30px;
  float: left;
}

.header__contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  float: right;
  transition : color .3s;
  text-decoration: none;
  padding: 14px 12px;
}

.header__contact:hover {
  color: #333;
}

/**-----main-----**/

.title {
  background-color: #f2f2f2;
  width: 100%;
  padding: 250px 0;
}

.title__main__text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title__sub__text {
  color: #c0c0c0;
  font-size: 30px;
}

.content {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
  width: 100%;
}

.content__inner {
  display: flex;
}

.iphone {
  font-size: 250px;
  padding-right: 150px;
}

.content__title {
  width: 680px;
}

.content__title__text {
  margin-bottom: 35px;
  font-size: 24px;
}

.content__text {
  font-size: 20px;
  line-height: 30px;
}

.content__photo__text {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
  width: 100%;
}

.photo__text {
  color: #4e4e4e;
  font-size: 24px;
  font-family: 'Raleway';
  margin-bottom: 40px;
}

.photo__main {
  display: flex;
  flex-wrap: wrap;
}

.photo__content {
  margin: 80px 0 0 100px;
}

.content__img {
  opacity: .7;
  transition: .3s;
}

.content__img:hover {
  opacity: 1;
}

.photo__content:nth-child(-n+3) {
  margin-top: 0;
}

.photo__content:nth-child(3n-2) {
  margin-left: 0;
}

.photo__text__mail {
  margin-top: 90px;
  display: flex;
}

.photo__sub__text {
  margin-left: 100px;
  width: 600px;
}

.photo__mail {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  transition: color .3s;
  text-decoration: none;
  padding: 14px 20px;
}

.photo__mail:hover {
  color: #333;
}

.content__circle__text {
  background-color: #4e4e4e;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
}

.circle__text {
  margin-bottom: 70px;
  font-size: 24px;
}

.circle__content {
  display: inline-block;
  margin-right: 180px;
}

.circle__content p {
  font-size: 16px;
  margin-top: 10px;
}

.circle__content:last-child {
  margin-right: 0;
}

.icon {
  background-color: #f2f2f2;
  color: #74cfae;
  padding: 200px 0;
}

.icon__content {
  color: #74cfae;
  transition: all .3s;
  text-decoration: none;
  font-size: 50px;
  padding: 30px 0 ;
  width: 185px;
}

.icon__content:hover {
  background-color: #fff;
}

/**-----footer-----**/

.footer {
  background-color: #74cfae;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__text {
  color: #fff;
  text-align: end;
}

/* タブレット以下 */

@media screen and (max-width: 1199px) {
.inner {
  width: 97%;
  display: block;
}

.content {
  padding-bottom: 25px;
}

.content__title__text {
  margin-top: 20px;
}

.iphone {
  padding: 0;
}

.content__title {
  width: auto;
}

.photo__main {
  display: block;
  margin: auto;
}

.photo__content {
  margin: auto;
}

.photo__content:nth-child(3) {
  margin-bottom: 80px;
}

.photo__text__mail {
  margin-top: 80px;
}

.photo__sub__text {
  margin-bottom: 40px;
}

.circle__main {
  display: block;
}

.circle__main {
  flex-direction: column
}
.circle__content {
  display: block;
  margin: auto;
  margin-bottom: 88px;
}

.circle__content:last-child {
  margin-bottom: 0;
}

}


/* スマホのみ */

@media screen and (max-width: 767px) {

.inner {
  width: 97%;
  display: block;
}

.header__contact {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.title {
  padding-top: 160px;
  padding-bottom: 130px;
}

.title__main__text {
  font-size: 80px;
}

.title__main__text {
  font-size: 30px;
}

.photo__sub__text {
  margin: auto;
  margin-bottom: 40px;
  width: auto;
}

.photo__mail {
  margin: auto;
}

.icon {
  padding: 50px 15px;
  display: block;
}

}